.profileImage {
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.profileSkills,
.profilePosition {
  margin-top: 30px;
  text-align: center;
}

.profileSkills h4,
.profilePosition h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profileSkills ul,
.profilePosition ul {
  list-style-type: none;
}

.profileSkills ul li,
.profilePosition ul li {
  margin: 0;
  font-size: 18px;
}
