* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-image: url("/background.png");
  color: #2f2f2f;
}

h1.pageTitle {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  margin: 20px;
}

#moreButton {
  display: none !important;
}

.homeContainer {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 20px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.demoMessage {
  text-align: center;
  margin: 10px 0;
}
